* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: #303030;
  height: 100vh;
  display: flex;
}
body .panel {
  width: 400px;
  height: 100%;
  background: #151515;
  color: beige;
  text-align: center;
  padding: 1em;
  padding-top: 2em;
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5);
}
body .panel h1 {
  margin-bottom: 1em;
}
body .panel #step-holder {
  margin-bottom: 1em;
  font-size: 1.2em;
}
body .panel #step-holder span {
  font-size: 1.5em;
}
body .panel .settings .setting {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}
body .panel .settings .setting p {
  font-size: 1.2em;
}
body .panel .settings .setting p span {
  font-size: 1.5em;
  color: white;
  margin-left: 0.2em;
}
body .panel .settings .setting .controls {
  margin-left: 1em;
  height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
body .panel .settings .setting .controls .arrow {
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
body .panel .settings .setting .controls .up {
  border-bottom: 8px solid greenyellow;
}
body .panel .settings .setting .controls .down {
  border-top: 8px solid red;
}
body .panel .settings .ctrl-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .panel .settings .ctrl-buttons .ctrls {
  cursor: pointer;
  padding: 0.5em;
  width: 10em;
  border: none;
  background: greenyellow;
  margin-top: 1em;
  border-radius: 0;
}
body .panel .settings .ctrl-buttons .ctrls:focus {
  outline: none;
}
body .panel .settings .ctrl-buttons #resume {
  display: none;
  background: #008cff;
  color: white;
}
body .panel .settings .ctrl-buttons #pause {
  display: none;
  background: yellow;
}
body .panel .settings .ctrl-buttons #stop {
  display: none;
  background: #ff4800;
  color: white;
}
body .panel .settings .ctrl-buttons #clear {
  background: #ff0077;
  color: white;
}
body .screen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .screen #canvas {
  background: #b4b4b4;
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
}
body .screen #canvas .cell {
  border: 0.5px solid black;
  background: #858585;
}
body .screen #canvas .cell:hover {
  background: rgba(255, 217, 2, 0.5);
}
body .screen #canvas .alive {
  background: yellow !important;
}